<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Stories</title>
<style type="text/css" media="print">
#form {
  display: none;
}
</style>
<style type="text/css" media="print, screen">

body {
  font-family: Helvetica;
}

label {
  display: block;
  margin-top: 5px;
  margin-left: 5px;
}

table {
  width: 6in;
  height: 4in;
  border: 1px dashed #888;
  padding: 10px;
  margin: 0.25in;
}

hr {
  display: none;
  page-break-after: always;
}

.id {
  font-size: 16pt;
  font-weight: bold;
}

.name {
  font-size: 36pt;
}

.priority, .estimate {
  text-align: center;
  font-size: 24pt;
  font-weight: bold;
  width: 5em;
  height: 2em;
}

.priority {
  background-color: #fcc;
}

.estimate {
  background-color: #ccf;
}

.description {
  font-size: 16pt;
}

.iteration {
  font-size: 10pt;
  color: #aaa;
}

</style>
</head>
<body>
  
  <div id="form">
    <form action="">
      <label for="filter_query">Query: <%= text_field 'filter', 'query' %></label>
      <label for="filter_order">Order: <%= text_field 'filter', 'order' %></label>
      <input type="submit" value="Search"/>
    </form>
  </div>
  
  <% for story in @stories %>
  <table>
    <tr>
      <td class="id"><%= story.formatted_id %></td>
      <td class="estimate"><%= pluralize story.estimate, 'point' %></td>
    </tr>
    <tr>
      <td class="name" colspan="2"><%= story.name %></td>
    <tr>
    <tr>
      <td class="description" colspan="2"><%= story.description %></td>
    </tr>
    <tr>
      <td class="iteration">Scheduled for iteration <%= story.iteration %> as of <%= Date.today %></td>
      <td class="priority"><%= story.priority %></div></td>
    </tr>
  </table>
  <%= cycle('','<hr/>') %>
  <% end %>
</body>
</html>